#nav-logo {
  position: fixed;
  left: 0;
  top: -5px;
  z-index: 10;
}

#cart-button, #cart-button2 {
  font-size: 30px;
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  &.in {
    display: none;
  }
  &.active {
    color: black;
    background-color: rgb(210, 210, 210);
    &:hover {
      background-color: rgb(210, 210, 210);
    }
  }
}

.navbar-main {
  margin-bottom: 0px;
  border-radius: 0;
  border-width: 0;
  z-index: 3;
  height: 42px;
  min-height: 42px;
  background-color: white;
  box-shadow: 0 5px 5px;
}

.navbar-collapse.collapse {
  background-color: black;
  &.in{
    position: fixed;
    text-align: right;
    min-width: 100%;
    margin: 0;
    top: 42px;
    .nav-main {
      font-size: 30px;
    }
  }
}

.navbar-header {
  padding-left: 15px;
  height: 42px;
  background-color: black;
}
.navbar-toggle {
  margin-top: 4px;
}
.nav-main {
  padding-left: -10px;
  border-bottom-width: 0px;
  box-sizing: border;
  background-color: black; 
  font-size: 2.6vw;
}
.nav-link-main {
  max-height: 42px;
  line-height: 42px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(140, 140, 140);
  border-top-width: 0;
  border-bottom-width: 0;
  padding: 0 10px 0 10px;
  color: rgb(220, 220, 220);
  &:hover {
    color: black;
    background-color: rgb(160, 160, 160);
  }
  &:active {
    color: rgb(200, 0, 0);
    background-color: rgb(210, 210, 210);
  }
  &.active {
    color: black;
    background-color: rgb(210, 210, 210);
  }
}

#nav-logo-text {
  background-color: white;
  padding: 2px 3px 0 50px;
  height: 42px;
  left: 0;
  top: -1px;
  z-index: 2;
  line-height: 20px;
  font-size: 25px;
  color: black;
  &.active {
    color: #c80000;  
  }
  
}
.container-fluid {
  padding: 0;
}