.col-sidebar-catalogue {
  padding-right: 0;
}

.col-item-carousel {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  .carousel-inner {
    padding: 0 10% 5% 10%;
    .carousel-img { 
      img { 
        width: 100%;
      }
    }
  }
  .catalogue-indicators {
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    z-index: 0;
  
    li {
      border: medium none;
      border-radius: 0;
      margin-bottom: 2px;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      width: 50px;
      height: 50px;
      img {
        border: 2px solid #0A0A0A;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .active {
      border: 2px solid #9BA000;
    }
  }
}
.panel-model-stats {
  p {
    font-size: 90%;
  }
}
.feature-list {
  .list-group-item {
    font-size: 130%;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.col-nav-catalogue {
  background-color: black;
  padding: 10px 0 0 0;
}
.nav-catalogue {
  background-color: black;
  li {
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    border: none;
    background-color: black;
  }
}
.col-main-catalogue {
  background-color: white;
  padding: 0;
  min-height: 100%;
}
.nav-catalogue-head {
  margin: 0;
  margin-left: -5px;
  line-height: 1.3;
}
.nav-products {
  font-size: 90%;
  padding-left: 10px;
  height: 0px;
  overflow: hidden;
  transition-property: height;
  transition-duration: 4s;
  &.expanded {
    height: auto;
  }
}
.nav-catalogue-link {
  font-size: 95%;
  line-height: 20px;
  padding: 0 10px 0 10px;
  color: rgb(220, 220, 220);
  &:hover {
    color: black;
    background-color: rgb(160, 160, 160);
  }
  &:active {
    color: rgb(200, 0, 0);
    background-color: rgb(210, 210, 210);
  }
  &.active {
    color: black;
    background-color: rgb(210, 210, 210);
    +.nav-products {
      display: inherit;
    }
  }
}
.col-detail-thumb {
  padding-bottom: 10px;
  transition-duration: 0.3s;
  &:hover {
    transform: scale(1.2);
    z-index: 1;
  }
}
.detail-caption {
  p {
    display: inline-block;
    font-size: 80%;
    height: 100px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}