.col-sidebar-catalogue {
  padding-right: 0;
}
.col-item-details {
  padding-top: 50px;
}

.col-item-carousel {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;

  .carousel-inner {
    .carousel-img { 
      img { 
        width: 100%;
      }
    }
  }
  .catalogue-indicators {
    bottom: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    z-index: 0;
  
    li {
      border: medium none;
      border-radius: 0;
      margin-bottom: 2px;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      width: 50px;
      height: 50px;
      img {
        border: 2px solid #0A0A0A;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .active {
      border: 2px solid #9BA000;
    }
  }
}
.col-model-selection {
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  .nav-models {
    display: block;
    margin: 0;
    padding: 0;
    .nav-model {
      color: black;
      display: block;
      width: 100%;
      margin: 0;
      padding: 5px 5px 5px 5px;
      &:hover {
      }
      &:active {
      }
    }
  }
}
.panel-model-stats {
  p {
    font-size: 90%;
  }
}