.col-sidebar-catalogue {
  padding-right: 0;
}
.col-item-details {
}

.col-item-carousel {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;

  .carousel-inner {
    .carousel-img { 
      img { 
        width: 100%;
      }
    }
  }
  .catalogue-indicators {
    bottom: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    z-index: 0;
  
    li {
      border: medium none;
      border-radius: 0;
      margin-bottom: 2px;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      width: 50px;
      height: 50px;
      img {
        border: 2px solid #0A0A0A;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .active {
      border: 2px solid #9BA000;
    }
  }
}
.col-model-selection {
  padding-bottom: 15px;
  .nav-models {
    display: block;
    margin: 0;
    padding: 0;
    .nav-model {
      color: black;
      display: block;
      width: 100%;
      margin: 0;
      padding: 5px 5px 5px 5px;
      &:hover {
      }
      &:active {
      }
    }
  }
}
.panel-model-stats {
  p {
    font-size: 90%;
  }
}
.feature-list {
  .list-group-item {
    font-size: 130%;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.col-nav-catalogue {
  background-color: black;
  padding: 10px 0 0 0;
}
.nav-catalogue {
  background-color: black;
  text-align: left;
  li {
    border: none;
    background-color: black;
  }
}
.col-main-catalogue {
  background-color: white;
  padding: 10px 0 0 0;
  min-height: 100%;
}
.nav-catalogue-head {
  margin: 0;
  margin-left: -5px;
  line-height: 1.3;
}
.nav-products {
  font-size: 90%;
  padding-left: 10px;
  display: none;
}
.nav-catalogue-link {
  font-size: 95%;
  line-height: 20px;
  padding: 0 10px 0 10px;
  color: rgb(220, 220, 220);
  &:hover {
    color: black;
    background-color: rgb(160, 160, 160);
  }
  &:active {
    color: rgb(200, 0, 0);
    background-color: rgb(210, 210, 210);
  }
  &.active {
    color: black;
    background-color: rgb(210, 210, 210);
    +.nav-products {
      display: inherit;
    }
  }
}